
body 
{
	
	background-image:url('nazar.JPG');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}


.starter-template {
  
padding: 40px 15px;
  text-align: center;

}



.jumbotron {
	
padding: 10px;
	color: #2f0660;
	background: #e1eef7;
	border:5px solid #002642;

}


.row {
	padding: 10px;

}
